
body{
    background-image: linear-gradient(rgb(180, 168, 247),#c7c0f1);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8c52ff;
}
a{
    color: #333;
    font-weight: bold;
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #333;
}
#cadastrarOcorrencia{
    visibility: hidden;
}

#logo{
    display: block;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}
.corpo{
    border: 10px;
    width: 100%;
    height: fit-content;
    vertical-align: text-top;
}
#mapa{
    width: 100%;
}
#registrar{
    text-align: right;
}

#aboutlogo{
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.sobreDesc{
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.nameImportant{
    font-size: 20px;
}
.fotoEquipe{
    float: left;
    height: 120px;
    margin: 5px;
}
.grafake{
    display:inline-block;
    height: 45%;
    width: 33%;
}