body{
    background-image: linear-gradient(rgb(180, 168, 247),#c7c0f1);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: justify;
    overflow: hidden;
    background-color: #8c52ff;
}
a{
    color: #333;
    font-weight: bold;
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li .logo{
    padding: 0%;
}
li .actual{
    background-color: #333;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #333;
}


#cadastrarOcorrencia{
    visibility: hidden;
}

span.gaveta{
    cursor: pointer;
    font-size: 30px;
    font-weight: bold
}

#logo{
    display: block;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}
.corpo{
    border: 10px;
    height: fit-content;
    vertical-align: text-top;
}
#registrar{
    text-align: right;
}

#aboutlogo{
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
#map{
    width: 69%;
    height: 80vh;
    position:fixed;
    left: 30%;
}
.sobreDesc{
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.nameImportant{
    font-size: 20px;
}
.fotoEquipe{
    float: left;
    height: 120px;
    margin: 5px;
}
.grafake{
    display:inline-block;
    height: 45%;
    width: 33%;
}
#traceRoute{
    display: none;
}
#logoBig{
    margin: auto;
    display: block;
    width: 350px;
}

button {
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out; 
  }
button:hover{
        box-shadow: 0 0 40px 40px #8c52ff inset;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup #content {
    max-height: 30%;
    overflow: auto;
  }