<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin="" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
    <link rel="stylesheet" href="/static/style.css"/>

    <title>PSCAA</title>
</head>
<body>
    <nav class="horizontal-menu">
        <ul>
            <li><a href="/index" class="logo"><img src="/static/imgs/Screenshot_6.png" alt="" height="40px"></a></li>
            <li><a href="/visualize">Visualizar Ocorrência</a></li>
            <li><a href="/register">Registrar Ocorrência</a></li>
            <li><a href="sobre.html">Sobre Nós</a></li>
            <li><a href="howto.html">Como Usar</a></li>
            <li id="login"><a href='#' onclick='return logado(1)'>Login</a></li>
        </ul>
    </nav>

    <body style="margin:0px;">
        <table style="width:100%; border-collapse:collapse; font:14px Arial,sans-serif;">

            <tr style="height:70%;">
                <td style="width:60%; padding:20px; background-color:#d4d7dc; vertical-align: top;">
                    <img src="/static/imgs/Screenshot_6.png" alt="Logo" id="logoBig">
                    <h4 style="text-align: center;">
                        PROTÓTIPO DE SISTEMA COORDENADOR DE AMBULÂNCIAS AÉREAS
                    </h4>
                </td>
                <td style="padding:20px; background-color:#f2f2f2; vertical-align:top;">
                    <h2>Bem-Vindo ao PSCAA</h2>
                    <p>Caso você queira registrar uma nova ocorrência, clique aqui:</p>
                    <button onclick="window.location.href='/register';">Registrar Ocorrência</button>
                    <p>Caso você queira visualizar uma ocorrência já registrada, clique aqui:</p>
                    <button onclick="window.location.href='/visualize';">Visualizar Ocorrência</button>

                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding:5px; background-color:#acb3b9; text-align:center;">
                    <p>copyright &copy; Gabriel Guerrero & Lucas Ribeiro 2022</p>
                </td>
            </tr>
        </table>
</body>