<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="script.js"></script>   
    <title>Login</title>
</head>
<body onload="logado()">
    <nav class="horizontal-menu">

        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="estatisticas.html">Estatísticas</a></li>
            <li id="cadastrarOcorrencia"><a href="#">Cadastrar</a></li>
            <li id="register"><a href="#">Register</a></li>
            <li id="login"><a href="login.html">Login</a></li>
        </ul>
    </nav>
    <div class="corpo">Logado</div>
</body>
</html>