<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin="" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
    <link rel="stylesheet" href="/static/style.css"/>
    <script src="https://kit.fontawesome.com/db8b14679a.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/signup.js"></script>
    <script type="text/javascript" src="/static/checkLogin.js"></script>

    <title>PSCAA: Register User</title>
</head>
<body onload="setEventListener(),getLogin()">
    <nav class="horizontal-menu">
        <ul>
            <li><a href="/index" class="logo"><img src="/static/imgs/Screenshot_6.png" alt="" height="40px"></a></li>
            <li><a href="/visualize">Ocurrence Display</a></li>
            <li id="userOperationalExclusive"><a href="/register">Ocurrence Register</a></li>
            <li><a href="/sobre">About Us</a></li>
            <li id="login"><a href='/login'>Login</a></li>
        </ul>
    </nav>
    <div class="form-box" id = "caixaDoFormulario">
        <h1>Sign Up</h1>
        <form action="" id="signupform">
            <div class="input-group">
                <div class="input-field">
                    <i class="fa-regular fa-user"></i>
                    <input type="text" placeholder="Name" id="nameField" required>
                </div>
                <div class="input-field">
                    <i class="fa-regular fa-envelope-open"></i>
                    <input type="email" placeholder="Email" id="username" required>
                </div>
                <div id="alertaEmailUso" class="alertaInvalido"></div>

                <div class="input-field">
                    <i class="fa-solid fa-key"></i>
                    <input type="password" placeholder="Password" id="password" required>
                </div>

                <div class="input-field">
                    <i class="fa-solid fa-users"></i>
                    <input type="radio" id="medico" name="User Type" value="medic" required>
                    <label for="medico">Medic</label>
                    <input type="radio" id="socorrista" name="User Type" value="rescuer" required>
                    <label for="socorrista">Rescuer</label>
                    <input type="radio" id="tripulante" name="User Type" value="crew" required>
                    <label for="tripulante">Crew Member</label>
                </div>
            </div>
            <div class="btn-field">
                <button type="submit" id="signUpBtn"">Sign up</button>
                <button type="button" class="disable" id="loginBtn" onclick="window.location.href='/login';">Login</button>
            </div>
        </form>
    </div>
</body>
</html>