<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="/static/script.js"></script>   
    <title>About Us</title>
</head>
<body>
    <nav class="horizontal-menu">
        <ul>
            <li><a href="/index" class="logo"><img src="/static/imgs/Screenshot_6.png" alt="" height="40px"></a></li>
            <li><a href="/visualize">Ocurrence Display</a></li>
            <li><a href="/register">Ocurrence Register</a></li>
            <li><a href="/sobre" class="actual">About Us</a></li>
            <li><a href="howto.html">How to Use</a></li>
            <li id="login"><a href='#' onclick='return logado(1)'>Login</a></li>
        </ul>
    </nav>
    <br>
    <br>
    <img src="/static/imgs/Screenshot_6.png" alt="logo PSCAA" id="aboutLogo">
    <h2 class="sobreDesc">The project</h2>
    <p class="sobreDesc">PSCAA is the thesis for the Computer Engeneering course of the students 
        <b>Gabriel Carrico Guerrero</b> and <b>Lucas Felipe Ribeiro</b> with the orientation of the <b>Prof. 
            Dr. Nádia Puchalski Kozievitch</b>.
            <br>
            Every day a considerable ammount of accidents happen on the brasilian federal roadways. Part of 
            these accidents requires Aerial Ambulances, with pre-determined flight plans and hospitals to arrive 
            in the shortest ammount of time possible. In this direction, this thesis has as the objective to 
            build a prototype that helps the rescuers and doctors to find the best route and the closest hospital.
            The project takes advantage of databases, interaction human-computer and algorithm analises. As a 
            result, it is expected to build an application with a friendly interface, usefull to the user.
    </p>
    <h2 class="sobreDesc">The team</h2>
    <p class="sobreDesc">
        <img class="fotoEquipe" src="https://www.notion.so/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F15e6ea90-4858-43cc-a5cb-52ce05652e48%2FUntitled.png?table=block&id=56d8884e-0aee-44fb-b58c-09610e430008&spaceId=7132de12-b2a8-4178-beef-81ea4d888f11&width=580&userId=ff0c7685-5d06-4708-9512-e53c5e2ce736&cache=v2" alt="Gabriel Guerrero photo">
        <b class="nameImportant">Gabriel Carrico Guerrero</b> <br> Student of Computer Engeneering by the UTFPR. <br> 
        Skills: <i>C</i>, <i>C++</i>, <i>Javascript</i>, <i>Python</i>, <i>SQL</i>, 
        <i>Datascience</i>, <i>Business Inteligence</i>. <br> Languages: native portuguese, avanced english, 
        basic spanish, basic german.<br>
        Email: <a href="mailto:guerrero@alunos.utfpr.edu.br">guerrero@alunos.utfpr.edu.br</a> <br>
        Github: <a href="http://github.com/gaguehero">gaguehero</a>
    </p>
    <br>
    <p class="sobreDesc">
        <img class="fotoEquipe" src="https://www.notion.so/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fdca39383-0d1d-4fd9-934b-a28f79038cf9%2FUntitled.png?table=block&id=c0664129-b494-4200-82bb-c361992c2a7b&spaceId=7132de12-b2a8-4178-beef-81ea4d888f11&width=710&userId=ff0c7685-5d06-4708-9512-e53c5e2ce736&cache=v2" alt="Lucas Ribeiro photo">
        <b class="nameImportant">Lucas Felipe Ribeiro</b> <br> Student of Computer Engeneering by the UTFPR. <br>
        Skills: <i>C</i>, <i>C++</i>, <i>Java</i>,<i>Python</i>, <i>R</i>, 
        <i>Mathematical Programming</i>, <i>interaction Human-Computer</i>. <br>
        Languages: native portuguese, avanced english, basic spanish. <br>
        Email: <a href="mailto:lucasr.1996@alunos.utfpr.edu.br">lucasr.1996@alunos.utfpr.edu.br</a> <br>
        Github: <a href="http://github.com/lucasfelr">lucasfelr</a>
    </p>
    <br>
    <h2 class="sobreDesc">Advisor</h2>
    <p class="sobreDesc">
        <img class="fotoEquipe" src="https://pessoal.dainf.ct.utfpr.edu.br/nadiap/nadia.jpg" alt="Nadia Puchalski photo">
        <b class="nameImportant">Nádia Puchalski Kozievitch</b> <br> Ph.D. in Computer Science by Unicamp. <br>
        Nowadays assistent professor of the DAINF in the UTFPR and project supervisor of the PPGCA. <br>
        Research areas: <i>GIS</i>, <I>Databases</I> <i>Information Retrieval</i>, <i>Digital Libraries</i>, 
        <i>Smart Cities</i>. <br>
        Email: <a href="mailto:nadiap@dainf.ct.utfpr.edu.br">nadiap@dainf.ct.utfpr.edu.br</a> <br>
        Lattes: <a href="http://lattes.cnpq.br/9727123750824948">Nádia Kozievitch</a>

    </p>
</body>
</html>