<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="script.js"></script>   
    <title>Sobre</title>
</head>
<body>
    <nav class="horizontal-menu">
        <ul>
            <li><img src="imgs/Screenshot_6.png" alt="" height="40px"></li>
            <li><a href="index.html">Home</a></li>
            <li><a href="estatisticas.html">Estatísticas</a></li>
            <li><a href="sobre.html">Sobre Nós</a></li>
            <li><a href="howto.html">Como Usar</a></li>
        </ul>
    </nav>
    <br>
    <br>
    <img src="imgs/Screenshot_6.png" alt="logo PSCAA" id="aboutLogo">
    <h2 class="sobreDesc">O projeto</h2>
    <p class="sobreDesc">O PSCAA é o Trabalho de Conclusão de Curso de Engenharia de Computação dos alunos 
        <b>Gabriel Carrico Guerrero</b> e <b>Lucas Felipe Ribeiro</b> orientados pela professora <b>Profa. 
            Dra. Nádia Puchalski Kozievitch</b>.
            <br>
            Todos os dias acontecem uma quantidade considerável de acidentes em rodovias federais brasileiras. 
            Uma parcela desses acidentes necessitam de Ambulâncias Aéreas, com planos de vôo pré-determinados 
            e  hospitais destino para chegarem em um curto período de tempo. Nesta direção, este trabalho tem 
            como objetivo apresentar um protótipo  que auxilie esses médicos para calcular a melhor rota e o 
            hospital mais perto.  O projeto tira proveitos de conceitos de banco de dados, Interação 
            humano-computador e análise de algoritmos. Como resultado, espera-se uma aplicação de interface 
            amigável, que seja útil ao usuário.
    </p>
    <h2 class="sobreDesc">A equipe</h2>
    <p class="sobreDesc">
        <img class="fotoEquipe" src="https://www.notion.so/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F15e6ea90-4858-43cc-a5cb-52ce05652e48%2FUntitled.png?table=block&id=56d8884e-0aee-44fb-b58c-09610e430008&spaceId=7132de12-b2a8-4178-beef-81ea4d888f11&width=580&userId=ff0c7685-5d06-4708-9512-e53c5e2ce736&cache=v2" alt="Gabriel Guerrero photo">
        <b class="nameImportant">Gabriel Carrico Guerrero</b> <br> Graduando em Engenharia de Computação pela UTFPR. <br> 
        Suas principais <i>skills</i> são: <i>C</i>, <i>C++</i>, <i>Javascript</i>, <i>Python</i>, <i>SQL</i>, 
        <i>Datascience</i>, <i>Business Inteligence</i>. <br> Idiomas: português nativo, inglês avançado, 
        espanhol básico, alemão básico.<br>
        Email para contato: <a href="mailto:guerrero@alunos.utfpr.edu.br">guerrero@alunos.utfpr.edu.br</a> <br>
        Github: <a href="http://github.com/gaguehero">gaguehero</a>
    </p>
    <br>
    <p class="sobreDesc">
        <img class="fotoEquipe" src="https://www.notion.so/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fdca39383-0d1d-4fd9-934b-a28f79038cf9%2FUntitled.png?table=block&id=c0664129-b494-4200-82bb-c361992c2a7b&spaceId=7132de12-b2a8-4178-beef-81ea4d888f11&width=710&userId=ff0c7685-5d06-4708-9512-e53c5e2ce736&cache=v2" alt="Lucas Ribeiro photo">
        <b class="nameImportant">Lucas Felipe Ribeiro</b> <br> Graduando em Engenharia de Computação pela UTFPR. <br>
        Suas principais <i>skills</i> são: <i>C</i>, <i>C++</i>, <i>Java</i>,<i>Python</i>, <i>R</i>, 
        <i>Mathematical Programming</i>, <i>Interação Humano-Computador</i>. <br>
        Idiomas: português antivo, inglês avançado, espanhol básico. <br>
        Email para contato: <a href="mailto:lucasr.1996@alunos.utfpr.edu.br">lucasr.1996@alunos.utfpr.edu.br</a> <br>
        Github: <a href="http://github.com/lucasfelr">lucasfelr</a>
    </p>
    <br>
    <h2 class="sobreDesc">A Orientadora</h2>
    <p class="sobreDesc">
        <img class="fotoEquipe" src="https://pessoal.dainf.ct.utfpr.edu.br/nadiap/nadia.jpg" alt="Nadia Puchalski photo">
        <b class="nameImportant">Nádia Puchalski Kozievitch</b> <br> Ph.D. em Ciência da Computação pela Unicamp. <br>
        Atualmente professora assistente do DAINF na UTFPR e supervisora de projetos no PPGCA. <br>
        Áreas de pesquisa: <i>GIS</i>, <I>Databases</I> <i>Information Retrieval</i>, <i>Digital Libraries</i>, 
        <i>Smart Cities</i>. <br>
        Email para contato: <a href="mailto:nadiap@dainf.ct.utfpr.edu.br">nadiap@dainf.ct.utfpr.edu.br</a> <br>
        Lattes: <a href="http://lattes.cnpq.br/9727123750824948">Nádia Kozievitch</a>

    </p>
</body>
</html>